#calculator1 {
  border: 1px solid rgb(125, 121, 121);
  border-radius: 5px;
  width: 200px;
}

#display {
  margin: 10px;
  width: 86%;
  font-size: 20px;

}

.button_container {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  width: 45px;
  height: 45px;
  margin: 4px;

}